<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Personal Info</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>usernameKey</string>
			<key>DefaultValue</key>
			<string>Peter Balsamo</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Name</string>
			<key>Key</key>
			<string>nameKey</string>
			<key>DefaultValue</key>
			<string>Peter Balsamo</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Website</string>
			<key>Key</key>
			<string>websiteKey</string>
			<key>DefaultValue</key>
			<string>Add your website</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Bio</string>
			<key>Key</key>
			<string>bioKey</string>
			<key>DefaultValue</key>
			<string>I love Jesus</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>PRIVATE INFO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Email</string>
			<key>Key</key>
			<string>emailKey</string>
			<key>DefaultValue</key>
			<string>eunited@optonline.net</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Phone</string>
			<key>Key</key>
			<string>phoneKey</string>
			<key>DefaultValue</key>
			<string>Add your phone number</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>passwordKey</string>
			<key>DefaultValue</key>
			<string>3911</string>
		</dict>
	</array>
	<key>Strings Table</key>
	<string>Profile</string>
	<key>Title</key>
	<string>Profile</string>
</dict>
</plist>
